backend/MI_Timbra_API_v3.json
[
  {
    "id": "5f7539d4.65e018",
    "type": "tab",
    "label": "Timbrature_Stable",
    "disabled": false,
    "info": ""
  },
  {
    "id": "d551dc19.17081",
    "type": "http in",
    "z": "5f7539d4.65e018",
    "name": "",
    "url": "/timbrature",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 140,
    "wires": [["cc0f4b0c.e2eab8", "13318a9c.852e25"]]
  },
  {
    "id": "cc0f4b0c.e2eab8",
    "type": "debug",
    "z": "5f7539d4.65e018",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 290,
    "y": 40,
    "wires": []
  },
  {
    "id": "92f2c117.c5c27",
    "type": "http response",
    "z": "5f7539d4.65e018",
    "name": "",
    "statusCode": "",
    "headers": {
      "content-type": "application/json"
    },
    "x": 1110,
    "y": 320,
    "wires": []
  },
  {
    "id": "13318a9c.852e25",
    "type": "json",
    "z": "5f7539d4.65e018",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 310,
    "y": 120,
    "wires": [["41f15b04.7749d4", "4d580b88.20f074", "2794afa1.c2689"]]
  },
  {
    "id": "f33951e.d2094b",
    "type": "function",
    "z": "5f7539d4.65e018",
    "name": "Status 500",
    "func": "msg.statuscode = 500;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 960,
    "y": 260,
    "wires": [["92f2c117.c5c27"]]
  },
  {
    "id": "cf1e33a6.69261",
    "type": "inject",
    "z": "5f7539d4.65e018",
    "name": "",
    "topic": "",
    "payload": "{\"name\":\"Giuseppe\",\"surname\":\"Gambuzza\",\"badgeCode\":\"1200\",\"costCode\":\"231\",\"deviceId\":\"035df6020517693f\",\"type\":\"out\",\"beacon\":{\"proximity\":\"near\",\"major\":1,\"distance\":1.058260240923378,\"rssi\":-68,\"minor\":2,\"uuid\":\"c7c1a1bf-bb00-4cad-8704-9f2d2917ded2\"}}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 110,
    "y": 200,
    "wires": [["13318a9c.852e25"]]
  },
  {
    "id": "41f15b04.7749d4",
    "type": "debug",
    "z": "5f7539d4.65e018",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 470,
    "y": 120,
    "wires": []
  },
  {
    "id": "4d580b88.20f074",
    "type": "function",
    "z": "5f7539d4.65e018",
    "name": "insert into table Timbrature",
    "func": "let t = msg.payload\nif ( 'beacon' in t ) {\n    query_string = \"INSERT INTO Timbrature (name, surname, badgeCode, costCode, deviceId, type, proximity, major, distance, rssi, minor, uuid)\";\n    values = \" VALUES ('\"+t.name+\"', '\"+t.surname+\"', '\"+msg.payload.badgeCode+\"', '\"+msg.payload.costCode+\"', '\"+msg.payload.deviceId+\"', '\"+msg.payload.type+\"', '\"+msg.payload.beacon.proximity+\"', '\"+msg.payload.beacon.major+\"', '\"+msg.payload.beacon.distance+\"', '\"+msg.payload.beacon.rssi+\"', '\"+msg.payload.beacon.minor+\"', '\"+msg.payload.beacon.uuid+\"');\";\n}\nif ( 'position' in t ) {\n    query_string = \"INSERT INTO Timbrature (name, surname, badgeCode, costCode, deviceId, type, latitude, longitude, accuracy)\";\n    values = \" VALUES ('\"+t.name+\"', '\"+t.surname+\"', '\"+msg.payload.badgeCode+\"', '\"+msg.payload.costCode+\"', '\"+msg.payload.deviceId+\"', '\"+msg.payload.type+\"', '\"+msg.payload.position.latitude+\"', '\"+msg.payload.position.longitude+\"', '\"+msg.payload.position.accuracy+\"');\";\n}\n\nmsg.topic = query_string + values;\n\nreturn msg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 520,
    "y": 200,
    "wires": [["5c289ea1.a7682", "4a76a471.af142c"]]
  },
  {
    "id": "5c289ea1.a7682",
    "type": "mysql",
    "z": "5f7539d4.65e018",
    "mydb": "fb12fc45.e86f7",
    "name": "database_mysql",
    "x": 780,
    "y": 200,
    "wires": [["945c031.6175b", "bd968ead.bd3ec"]]
  },
  {
    "id": "945c031.6175b",
    "type": "debug",
    "z": "5f7539d4.65e018",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 950,
    "y": 200,
    "wires": []
  },
  {
    "id": "4a76a471.af142c",
    "type": "debug",
    "z": "5f7539d4.65e018",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 770,
    "y": 140,
    "wires": []
  },
  {
    "id": "bd968ead.bd3ec",
    "type": "switch",
    "z": "5f7539d4.65e018",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "null"
      },
      {
        "t": "nnull"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 850,
    "y": 320,
    "wires": [["f33951e.d2094b"], ["92f2c117.c5c27"]]
  },
  {
    "id": "2794afa1.c2689",
    "type": "file",
    "z": "5f7539d4.65e018",
    "name": "log file",
    "filename": "/home/admin/sigfox-node-red/timbrature.log",
    "appendNewline": true,
    "createDir": false,
    "overwriteFile": "false",
    "x": 450,
    "y": 60,
    "wires": [[]]
  },
  {
    "id": "ce6e2ca9.0a132",
    "type": "http in",
    "z": "5f7539d4.65e018",
    "name": "",
    "url": "/badge",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 130,
    "y": 620,
    "wires": [["27f77464.41af0c", "3c37eb5e.fb2444"]]
  },
  {
    "id": "1de2fde9.123152",
    "type": "function",
    "z": "5f7539d4.65e018",
    "name": "Verifica esistenza IMEI",
    "func": "device_id = msg.payload.deviceId;\n\n//query_string = \"select nome, cognome, deviceId, badgeCode from badge where deviceId='\"\nquery_string = `select * from badge where deviceId='${device_id}' ;`\n\nmsg.deviceId = device_id\nmsg.topic = query_string;\nreturn msg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 340,
    "y": 440,
    "wires": [["ccd017ca.0917d8"]]
  },
  {
    "id": "ccd017ca.0917d8",
    "type": "mysql",
    "z": "5f7539d4.65e018",
    "mydb": "fb12fc45.e86f7",
    "name": "database_mysql",
    "x": 580,
    "y": 440,
    "wires": [["b0b8e0f9.9b1f7", "3012f5b.053820a"]]
  },
  {
    "id": "d3e135fc.759d38",
    "type": "debug",
    "z": "5f7539d4.65e018",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 930,
    "y": 400,
    "wires": []
  },
  {
    "id": "27f77464.41af0c",
    "type": "debug",
    "z": "5f7539d4.65e018",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 310,
    "y": 620,
    "wires": []
  },
  {
    "id": "f95d5e1a.9d6da",
    "type": "inject",
    "z": "5f7539d4.65e018",
    "name": "",
    "topic": "",
    "payload": "{\"deviceId\":\"db5ef48907817435\"}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 130,
    "y": 440,
    "wires": [["1de2fde9.123152"]]
  },
  {
    "id": "57a51c53.371e34",
    "type": "inject",
    "z": "5f7539d4.65e018",
    "name": "",
    "topic": "",
    "payload": "{\"deviceId\":\"db5ef48907817440\"}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 130,
    "y": 500,
    "wires": [["1de2fde9.123152"]]
  },
  {
    "id": "3c37eb5e.fb2444",
    "type": "json",
    "z": "5f7539d4.65e018",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 210,
    "y": 560,
    "wires": [["1de2fde9.123152"]]
  },
  {
    "id": "b0b8e0f9.9b1f7",
    "type": "function",
    "z": "5f7539d4.65e018",
    "name": "output cleaning",
    "func": "if ( msg.payload.length == 0 ) {\n    msg.statusCode = 401\n    msg.payload = new Object()\n} else {\n    msg.statusCode = 200\n    let t = msg.payload[0]\n    t.badgeCode = t.badgeCode.toString()\n    msg.payload = t\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 780,
    "y": 440,
    "wires": [["d3e135fc.759d38", "4f87043e.2bd26c"]]
  },
  {
    "id": "4f87043e.2bd26c",
    "type": "http response",
    "z": "5f7539d4.65e018",
    "name": "",
    "statusCode": "",
    "headers": {
      "content-type": "application/json"
    },
    "x": 1110,
    "y": 440,
    "wires": []
  },
  {
    "id": "3012f5b.053820a",
    "type": "debug",
    "z": "5f7539d4.65e018",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 750,
    "y": 400,
    "wires": []
  },
  {
    "id": "b64cd1f5.df6cd",
    "type": "function",
    "z": "5f7539d4.65e018",
    "name": "insert richiesta associazione",
    "func": "device_id = msg.payload.deviceId;\nname = msg.payload.name;\nsurname = msg.payload.surname;\n\nquery_string = `\n    insert into registrazione (deviceId, nome, cognome)\n    values ( '${device_id}' , '${name}', '${surname}' )\n    ON DUPLICATE KEY UPDATE nome = '${name}', cognome = '${surname}'\n    `\nmsg.topic = query_string;\nmsg.name = name\nmsg.surname = surname\n\nreturn msg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 240,
    "y": 900,
    "wires": [["1d76f751.592fe9", "cc0592ab.61ed5"]]
  },
  {
    "id": "1d76f751.592fe9",
    "type": "mysql",
    "z": "5f7539d4.65e018",
    "mydb": "fb12fc45.e86f7",
    "name": "database_mysql_associazione",
    "x": 430,
    "y": 840,
    "wires": [["b23ceec.0732f1", "1eb05aed.806b75", "2a8efd83.278d32"]]
  },
  {
    "id": "63dc2d92.68e124",
    "type": "http in",
    "z": "5f7539d4.65e018",
    "name": "",
    "url": "/richiesta",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 840,
    "wires": [["b64cd1f5.df6cd"]]
  },
  {
    "id": "b23ceec.0732f1",
    "type": "function",
    "z": "5f7539d4.65e018",
    "name": "",
    "func": "if ( msg.payload.insertId === 0 && msg.payload.affectedRows === 1 ) {\n    // è gia presente una richiesta ma NON è stata aggiornata\n    let t = { \n        requestId : 0\n    }\n    msg.payload = t\n}\nif ( msg.payload.insertId > 0 ) {\n    // è stata inserita una nuova richiesta\n    let t = {\n        requestId : msg.payload.insertId\n    }\n    msg.payload = t\n    // msg.statusCode = 500\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 500,
    "y": 900,
    "wires": [["a44d0164.18f25"]]
  },
  {
    "id": "1eb05aed.806b75",
    "type": "debug",
    "z": "5f7539d4.65e018",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 670,
    "y": 780,
    "wires": []
  },
  {
    "id": "a44d0164.18f25",
    "type": "http response",
    "z": "5f7539d4.65e018",
    "name": "",
    "statusCode": "",
    "headers": {
      "content-type": "application/json"
    },
    "x": 730,
    "y": 900,
    "wires": []
  },
  {
    "id": "f6460299.7fc28",
    "type": "catch",
    "z": "5f7539d4.65e018",
    "name": "",
    "scope": ["1d76f751.592fe9"],
    "x": 350,
    "y": 780,
    "wires": [["b6cac1c9.cd0b5"]]
  },
  {
    "id": "b6cac1c9.cd0b5",
    "type": "debug",
    "z": "5f7539d4.65e018",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 510,
    "y": 780,
    "wires": []
  },
  {
    "id": "cc0592ab.61ed5",
    "type": "debug",
    "z": "5f7539d4.65e018",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 470,
    "y": 960,
    "wires": []
  },
  {
    "id": "61a3b52f.0db6ac",
    "type": "e-mail",
    "z": "5f7539d4.65e018",
    "server": "smtp.gmail.com",
    "port": "465",
    "secure": true,
    "name": "antonio.astuti@merimp.com; giuseppe.gambuzza@merimp.com",
    "dname": "Invia mail",
    "x": 980,
    "y": 840,
    "wires": []
  },
  {
    "id": "2a8efd83.278d32",
    "type": "function",
    "z": "5f7539d4.65e018",
    "name": "Imposta Messaggio ",
    "func": "msg.topic = \"Nuova richiesta di registrazione MI-Timbra\";\nmsg.payload = msg.name + \" \"+msg.surname + \" ha richiesto registrazione del suo device\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 750,
    "y": 840,
    "wires": [["61a3b52f.0db6ac"]]
  },
  {
    "id": "84d69087.25722",
    "type": "inject",
    "z": "5f7539d4.65e018",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 580,
    "y": 700,
    "wires": [["30b50800.c011f8"]]
  },
  {
    "id": "30b50800.c011f8",
    "type": "function",
    "z": "5f7539d4.65e018",
    "name": "Imposta Messaggio ",
    "func": "msg.topic = \"Test invio messaggio - Richiesta di registrazione MI-Timbra\";\nmsg.payload = \"Test invio messaggio\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 750,
    "y": 740,
    "wires": [["61a3b52f.0db6ac"]]
  },
  {
    "id": "b5eb31ad.266d",
    "type": "function",
    "z": "5f7539d4.65e018",
    "name": "check richiesta associazione",
    "func": "device_id = msg.payload.deviceId;\n\nquery_string = `\n    select *\n    from registrazione\n    where deviceId = '${device_id}';\n    `\nmsg.topic = query_string;\nreturn msg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 240,
    "y": 1200,
    "wires": [["b0fd112e.d7458", "2dd72bae.69bd74"]]
  },
  {
    "id": "b0fd112e.d7458",
    "type": "mysql",
    "z": "5f7539d4.65e018",
    "mydb": "fb12fc45.e86f7",
    "name": "database_mysql_associazione",
    "x": 430,
    "y": 1140,
    "wires": [["2322f722.e95328", "3f74d63d.dff6ea"]]
  },
  {
    "id": "2d98410.9c72cc",
    "type": "http in",
    "z": "5f7539d4.65e018",
    "name": "",
    "url": "/isRequested",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 1140,
    "wires": [["b5eb31ad.266d"]]
  },
  {
    "id": "2322f722.e95328",
    "type": "function",
    "z": "5f7539d4.65e018",
    "name": "",
    "func": "if ( msg.payload.length < 1 ) {\n    msg.statusCode = 404\n} else {\n    msg.payload = msg.payload[0]\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 500,
    "y": 1200,
    "wires": [["e342b5fe.45f2c8", "5ee527ec.4f91a8"]]
  },
  {
    "id": "3f74d63d.dff6ea",
    "type": "debug",
    "z": "5f7539d4.65e018",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 710,
    "y": 1140,
    "wires": []
  },
  {
    "id": "e342b5fe.45f2c8",
    "type": "http response",
    "z": "5f7539d4.65e018",
    "name": "",
    "statusCode": "",
    "headers": {
      "content-type": "application/json"
    },
    "x": 730,
    "y": 1200,
    "wires": []
  },
  {
    "id": "2dd72bae.69bd74",
    "type": "debug",
    "z": "5f7539d4.65e018",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 470,
    "y": 1260,
    "wires": []
  },
  {
    "id": "5ee527ec.4f91a8",
    "type": "debug",
    "z": "5f7539d4.65e018",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 680,
    "y": 1260,
    "wires": []
  },
  {
    "id": "85834b63.8d3578",
    "type": "mysql",
    "z": "5f7539d4.65e018",
    "mydb": "fb12fc45.e86f7",
    "name": "db",
    "x": 690,
    "y": 560,
    "wires": [["3d991053.bbcd8"]]
  },
  {
    "id": "3d991053.bbcd8",
    "type": "function",
    "z": "5f7539d4.65e018",
    "name": "check Assoc Output",
    "func": "if ( msg.payload.length < 1 ) {\n    let  t = { isRequested : false }\n    msg.payload = t\n} else {\n    let  t = { isRequested : true }\n    msg.payload = t\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 880,
    "y": 560,
    "wires": [["b1bd6767.c468f8", "432130a4.b5aee"]]
  },
  {
    "id": "b1bd6767.c468f8",
    "type": "debug",
    "z": "5f7539d4.65e018",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 1110,
    "y": 600,
    "wires": []
  },
  {
    "id": "eb3cce97.275c5",
    "type": "switch",
    "z": "5f7539d4.65e018",
    "name": "",
    "property": "statusCode",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "200",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "401",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 810,
    "y": 500,
    "wires": [["4f87043e.2bd26c"], ["803ad817.6435f8"]]
  },
  {
    "id": "803ad817.6435f8",
    "type": "function",
    "z": "5f7539d4.65e018",
    "name": "",
    "func": "let query_string = `\nSELECT *\nFROM registrazione\nWHERE deviceId='${msg.deviceId}'; `\n\nmsg.topic = query_string;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 550,
    "y": 560,
    "wires": [["85834b63.8d3578"]]
  },
  {
    "id": "432130a4.b5aee",
    "type": "http response",
    "z": "5f7539d4.65e018",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1100,
    "y": 560,
    "wires": []
  },
  {
    "id": "c52318b8.ef53a8",
    "type": "function",
    "z": "5f7539d4.65e018",
    "name": "check ultima timbratura",
    "func": "badge_code = msg.payload.badgeCode;\n\nquery_string = `\n    select \n        CONCAT_WS(\n        \" \",\n        DATE_FORMAT(timestamp, \"%d-%m-%Y %H:%i\"),\n        'in',\n        IF(type = 'in', 'Entrata', 'Uscita')\n        ) as message\n    from Timbrature\n    where badgeCode = '${badge_code}'\n    ORDER BY timestamp DESC\n    LIMIT 5;\n    `\nmsg.topic = query_string;\nreturn msg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 230,
    "y": 1440,
    "wires": [["edfd41c4.d7c78", "c798114d.38a0e"]]
  },
  {
    "id": "edfd41c4.d7c78",
    "type": "mysql",
    "z": "5f7539d4.65e018",
    "mydb": "fb12fc45.e86f7",
    "name": "database_mysql_MITIMBRA",
    "x": 420,
    "y": 1380,
    "wires": [["dc7cc030.06a7b", "87b1bafb.f33238"]]
  },
  {
    "id": "2670761e.3605ea",
    "type": "http in",
    "z": "5f7539d4.65e018",
    "name": "",
    "url": "/lastAccess",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 1380,
    "wires": [["c52318b8.ef53a8", "87b1bafb.f33238"]]
  },
  {
    "id": "dc7cc030.06a7b",
    "type": "function",
    "z": "5f7539d4.65e018",
    "name": "",
    "func": "if ( msg.payload.length > 0 ) {\n    rows = msg.payload\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 500,
    "y": 1440,
    "wires": [["e6a9877a.e2f748", "af09af1c.c1495"]]
  },
  {
    "id": "87b1bafb.f33238",
    "type": "debug",
    "z": "5f7539d4.65e018",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 710,
    "y": 1380,
    "wires": []
  },
  {
    "id": "e6a9877a.e2f748",
    "type": "http response",
    "z": "5f7539d4.65e018",
    "name": "",
    "statusCode": "",
    "headers": {
      "content-type": "application/json"
    },
    "x": 730,
    "y": 1440,
    "wires": []
  },
  {
    "id": "c798114d.38a0e",
    "type": "debug",
    "z": "5f7539d4.65e018",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 470,
    "y": 1500,
    "wires": []
  },
  {
    "id": "af09af1c.c1495",
    "type": "debug",
    "z": "5f7539d4.65e018",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 680,
    "y": 1500,
    "wires": []
  },
  {
    "id": "fb12fc45.e86f7",
    "type": "MySQLdatabase",
    "z": "",
    "host": "192.168.0.15",
    "port": "3306",
    "db": "MITIMBRA",
    "tz": ""
  }
]
